.grid {
  display: grid;
  gap: 0.833vw; /* Расстояние между колонками и строками */
}

.grid--job {
  gap: 1.035vw; /* Расстояние между колонками */
}

.grid__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 равных колонок */
  gap: 0.833vw; /* Расстояние между колонками */
}

.grid--job .grid__row {
  gap: 1.035vw; /* Расстояние между колонками */
}

.grid__col {
  grid-column: span 12;
}

.grid__col--1 {
  grid-column: span 1;
}
.grid__col--2 {
  grid-column: span 2;
}
.grid__col--3 {
  grid-column: span 3;
}
.grid__col--4 {
  grid-column: span 4;
}
.grid__col--5 {
  grid-column: span 5;
}
.grid__col--6 {
  grid-column: span 6;
}
.grid__col--7 {
  grid-column: span 7;
}
.grid__col--8 {
  grid-column: span 8;
}
.grid__col--9 {
  grid-column: span 9;
}
.grid__col--10 {
  grid-column: span 10;
}
.grid__col--11 {
  grid-column: span 11;
}
.grid__col--12 {
  grid-column: span 12;
}

@media (max-width: 1440px) {
  /* XL */
  .grid__col--xl-1 {
    grid-column: span 1;
  }
  .grid__col--xl-2 {
    grid-column: span 2;
  }
  .grid__col--xl-3 {
    grid-column: span 3;
  }
  .grid__col--xl-4 {
    grid-column: span 4;
  }
  .grid__col--xl-5 {
    grid-column: span 5;
  }
  .grid__col--xl-6 {
    grid-column: span 6;
  }
  .grid__col--xl-7 {
    grid-column: span 7;
  }
  .grid__col--xl-8 {
    grid-column: span 8;
  }
  .grid__col--xl-9 {
    grid-column: span 9;
  }
  .grid__col--xl-10 {
    grid-column: span 10;
  }
  .grid__col--xl-11 {
    grid-column: span 11;
  }
  .grid__col--xl-12 {
    grid-column: span 12;
  }
}

@media (max-width: 1280px) {
  /* LG */
  .grid__col--lg-1 {
    grid-column: span 1;
  }
  .grid__col--lg-2 {
    grid-column: span 2;
  }
  .grid__col--lg-3 {
    grid-column: span 3;
  }
  .grid__col--lg-4 {
    grid-column: span 4;
  }
  .grid__col--lg-5 {
    grid-column: span 5;
  }
  .grid__col--lg-6 {
    grid-column: span 6;
  }
  .grid__col--lg-7 {
    grid-column: span 7;
  }
  .grid__col--lg-8 {
    grid-column: span 8;
  }
  .grid__col--lg-9 {
    grid-column: span 9;
  }
  .grid__col--lg-10 {
    grid-column: span 10;
  }
  .grid__col--lg-11 {
    grid-column: span 11;
  }
  .grid__col--lg-12 {
    grid-column: span 12;
  }
}

@media (max-width: 1024px) {
  /* MD */
  .grid__col--md-1 {
    grid-column: span 1;
  }
  .grid__col--md-2 {
    grid-column: span 2;
  }
  .grid__col--md-3 {
    grid-column: span 3;
  }
  .grid__col--md-4 {
    grid-column: span 4;
  }
  .grid__col--md-5 {
    grid-column: span 5;
  }
  .grid__col--md-6 {
    grid-column: span 6;
  }
  .grid__col--md-7 {
    grid-column: span 7;
  }
  .grid__col--md-8 {
    grid-column: span 8;
  }
  .grid__col--md-9 {
    grid-column: span 9;
  }
  .grid__col--md-10 {
    grid-column: span 10;
  }
  .grid__col--md-11 {
    grid-column: span 11;
  }
  .grid__col--md-12 {
    grid-column: span 12;
  }
}

@media (max-width: 768px) {
  /* SM */
  .grid__col--sm-1 {
    grid-column: span 1;
  }
  .grid__col--sm-2 {
    grid-column: span 2;
  }
  .grid__col--sm-3 {
    grid-column: span 3;
  }
  .grid__col--sm-4 {
    grid-column: span 4;
  }
  .grid__col--sm-5 {
    grid-column: span 5;
  }
  .grid__col--sm-6 {
    grid-column: span 6;
  }
  .grid__col--sm-7 {
    grid-column: span 7;
  }
  .grid__col--sm-8 {
    grid-column: span 8;
  }
  .grid__col--sm-9 {
    grid-column: span 9;
  }
  .grid__col--sm-10 {
    grid-column: span 10;
  }
  .grid__col--sm-11 {
    grid-column: span 11;
  }
  .grid__col--sm-12 {
    grid-column: span 12;
  }
}

@media (max-width: 480px) {
  /* XS */
  .grid__col--xs-1 {
    grid-column: span 1;
  }
  .grid__col--xs-2 {
    grid-column: span 2;
  }
  .grid__col--xs-3 {
    grid-column: span 3;
  }
  .grid__col--xs-4 {
    grid-column: span 4;
  }
  .grid__col--xs-5 {
    grid-column: span 5;
  }
  .grid__col--xs-6 {
    grid-column: span 6;
  }
  .grid__col--xs-7 {
    grid-column: span 7;
  }
  .grid__col--xs-8 {
    grid-column: span 8;
  }
  .grid__col--xs-9 {
    grid-column: span 9;
  }
  .grid__col--xs-10 {
    grid-column: span 10;
  }
  .grid__col--xs-11 {
    grid-column: span 11;
  }
  .grid__col--xs-12 {
    grid-column: span 12;
  }
}
